<h1> Ciclo de vida de Angular</h1>
<hr>

<div class="grid">
  <div class="col-6">
    <p class="lead">
      Un Hook es algo que nos permite ejecutar una 
      función o un método cuando algo sucede en el 
      ciclo de vida de un componente en Angular.
    </p>
  </div>
</div>


<button (click)="mostrarTabla = !mostrarTabla" class="btn btn-outline-primary m-3">
  {{mostrarTabla ? 'Ocultar Tabla' : 'Mostrar Tabla'}}
</button>

<button (click)="mostrar = !mostrar" class="btn btn-outline-primary m-3">
  {{mostrar ? 'Ocultar Página 1' : 'Mostrar Página 1'}}
</button>

<app-pagina1 *ngIf="mostrar"></app-pagina1>

<app-tabla *ngIf="mostrarTabla"></app-tabla>